# M1L5 Pandas Part 2 Data Challenge:  EDA

## Scenario

We'll be working with a real-world dataset from the NYC Open Data portal, focusing on the leading causes of death in New York City (same as data challenge 4). This dataset provides valuable insights into public health trends and disparities. Understanding this data is crucial for community advocacy and policy-making.

For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 
- Group and Aggregate Data
- Create a contingency table with `crosstab()`
- Check for duplicated data (remember not all duplicated data needs to be dropped)

**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [33]:
# Import Pandas & Numpy
import numpy as np 
import pandas as pd

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. The file is called:  `nyc_causeofdeath.csv`

In [34]:
df = pd.read_csv("New_York_City_Leading_Causes_of_Death_20250605.csv")

### Step 3: Check the information of the data (column names, data types, size, etc.)

In [35]:
df.head()
df.dtypes
df.size

7658

### Step 4:  We need to change Deaths from an object to an integer so that we can do some MATH (you will learn this officially later) for now just run the cell below.

In [36]:
#Run this cell without changes 
df['Deaths'] = df['Deaths'].replace('.', np.nan)
df['Deaths'] = pd.to_numeric(df['Deaths'])

### Step 5:  Create code to get the sum of deaths by Sex -- what Sex has the most deaths based on this data (add a comment in the cell with your answer)

In [37]:
deaths_by_sex = df.groupby("Sex")["Deaths"].sum()
print(deaths_by_sex)

#Female has the most deaths on this data

Sex
F    217071.0
M    207927.0
Name: Deaths, dtype: float64

### Step 6:  Now create a contingency table (using `crosstab()`) of the Leading Cause of Death by Sex -- put a comment in the cell of a takeaway from the output

In [38]:
#cause_by_sex = pd.crosstab(df["Sex"],df["Leading Cause"], )
cause_by_sex = pd.crosstab(df["Leading Cause"], df["Sex"])
cause_by_sex

Sex                                                  F   M
Leading Cause
Accidents Except Drug Posioning (V01-X39, X43, ...  35  45
All Other Causes                                    48  48
Alzheimer's Disease (G30)                           31   1
Aortic Aneurysm and Dissection (I71)                 2   1
Assault (Homicide: Y87.1, X85-Y09)                   3  17
Atherosclerosis (I70)                                3   0
Cerebrovascular Disease (Stroke: I60-I69)           48  42
Certain Conditions originating in the Perinatal...  13  13
Chronic Liver Disease and Cirrhosis (K70, K73)       8  21
Chronic Lower Respiratory Diseases (J40-J47)        45  43
Congenital Malformations, Deformations, and Chr...   6   2
Diabetes Mellitus (E10-E14)                         47  45
Diseases of Heart (I00-I09, I11, I13, I20-I51)      48  48
Essential Hypertension and Renal Diseases (I10,...  46  29
Human Immunodeficiency Virus Disease (HIV: B20-...  17  26
Influenza (Flu) and Pneumonia (J09-J18)             48  48
Insitu or Benign / Uncertain Neoplasms (D00-D48)     5   0
Intentional Self-Harm (Suicide: X60-X84, Y87.0)     12  26
Malignant Neoplasms (Cancer: C00-C97)               48  48
Mental and Behavioral Disorders due to Accident...  12  27
Mental and Behavioral Disorders due to Use of A...   0   2
Nephritis, Nephrotic Syndrome and Nephrisis (N0...  14   3
Parkinson's Disease (G20)                            1   0
Septicemia (A40-A41)                                11   2
Tuberculosis (A16-A19)                               1   0
Viral Hepatitis (B15-B19)                            2   3

### Step 7:  Are there any duplicate records in this dataset?  Code it below and add a comment with your answer

In [39]:
for col in df:
    if df.duplicated:
        print("yes")
#Yes there are duplicates records in all the columns of the dataframe.

yes
yes
yes
yes
yes
yes
yes

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [40]:
most_death = df.groupby("Year")["Deaths"].sum()
print(most_death)

#The year of 2008 has the most deaths with 54,138 deaths. ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜­

Year
2007    53996.0
2008    54138.0
2009    52820.0
2010    52505.0
2011    52726.0
2012    52420.0
2013    53387.0
2014    53006.0
Name: Deaths, dtype: float64

### Question 2:  Change the 'Death Rate' column to a float.  Why would you want to do this?

In [41]:
df["Death Rate"] = df["Death Rate"].str.replace(".","0")

In [42]:
df["Death Rate"] = df["Death Rate"].str.replace("","0")

In [44]:
df["Death Rate"] = df["Death Rate"].astype(float)
#we change the type to a float so that we can do math calculation.

In [45]:
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,11.0,0.000000e+00,.
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,70.0,0.000000e+00,.
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,213.0,2.050000e+03,33
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,NaN,0.000000e+00,.
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852.0,1.070600e+09,148.4